<footer>
	<div class="container-fluid">
		<ul class="social-icons text-center">
			<li><a href="https://twitter.com/iamrenopeno" title="Twitter"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/renopeno/" title="Instagram"><i class="fa fa-instagram instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/renopeno" title="GitHub"><i class="fa fa-github github" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/renopeno" title="LinkedIn"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<div class="text-center copy">Renato Mandić &copy; <span id="currentYear"></span></div>
</footer>
