@-webkit-keyframes fade-in {
  0% {
      opacity: 0;
      -webkit-transform: translateY(-40px);
      transform: translateY(-40px);
  }

  50% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
      opacity: 0;
  }
}
.text-animated-one {
    display:inline;
    overflow: hidden;
    position:absolute;
    left: 15px;
    -webkit-animation:fade-in 3s infinite;
    color: $blue-light;
    text-shadow: none;
}
.text-animated-two {
    opacity:0;
    overflow: hidden;
    display:inline;
    position:absolute;
    left: 15px;
    -webkit-animation: fade-in 3s infinite;
    -webkit-animation-delay: 1.5s;
    color: $white;
    text-shadow: none;
}

.aggettivi {
    display:inline;
    position: relative;

}
