.btn-blue {
	@include btn($blue,$textSize,#fff);
	margin-bottom: $margin-s;
}
.btn-back {
	position: fixed;
	top: -7px;
	left: 5%;
	width: 22px;
	z-index: 6;
	border: none !important;

	&:hover {
		text-decoration: none;
	}
}


@media all and (max-width: 760px) {
  .btn-back {
    top:-14px;
  }
}
