html {
	height: 100%;
}
.l-body {
	background: $landing-bg;
	height: 100%;

	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.my-img {
	position: relative;
	height: 280px;
	width: 280px;
	background: url(../img/rm-v2.svg);
	background-size: cover;
	border: 10px solid $white;
	border-radius: 50%;
	margin: 0 auto;
	box-shadow: 0 0 80px $blue-dark;
}
.l-title {
	font-family: $varela;
	font-weight: 600;
	color: $white;
	text-shadow: 0 0 30px $blue-dark;
	margin-top: $margin-s;
	margin-bottom: $margin-s;
	margin-right: 200px;
}
.landing {
		text-align: center;

	nav {
		ul {
			font-size: $textSize;
			li {
				margin-top: $margin-s;
				margin-bottom: $margin-s/2;
				transition: all .3s;
				&:hover {
					transform: scale(1.15);
				}
				a {
					transition: all .1s;
					padding: 0 25px;
					border: 1px solid transparent;
					font-family: $varela;
					font-size: $textSize-xxl;
					font-weight: 600;
					color: $white;
					text-shadow: 0 0 30px $blue-dark;
					&:hover {
						text-shadow: 4px 4px 30px $blue-dark;
						color: $blue-light;
						text-decoration: none;
					}
				}

			}
		}
	}
	.l-social-wrap {
		ul {
			margin-top: $margin-s/2;
			margin-bottom: $margin-s;
			li {
				font-size: $textSize-xl;
				a {
					transition: all .3s;
					text-shadow: 0 0 30px $blue-dark;
					color: #fff;
					padding: 0 25px;
					font-size: $textSize-xl;
				}
				&:hover {
					a {
						.twitter {
							transition: all .2s;
							transform: scale(1.2);
							color: $twitter;
						}
						.instagram {
							transition: all .2s;
							transform: scale(1.2);
							color: $instagram;
						}
						.github {
							transition: all .2s;
							transform: scale(1.2);
							color: $github;
						}
						.linkedin {
							transition: all .2s;
							transform: scale(1.2);
							color: $linkedin;
						}

					}
				}

			}

		}
	}
}

// Breakpoints

@media all and (max-width:760px) {
	.my-img {
		height: 200px;
		width: 200px;
		&::before {
			content: '';
			top: -7px;
			left: -7px;
			width: 214px;
		  height:214px;
		}
	}
	#l-body {
		padding: 25px;
	}

	.l-title {
		margin-right: 157px;
	}

	.landing {

		nav ul li a {
					padding: 15px;
					font-size: $textSize-xl;
		}


		.l-social-wrap {
			ul {
				li a {
					padding: 20px;
					font-size: $textSize-xl;
				}
			}
		}
	}
}

@media all and (max-width:550px) {

	.l-title {
		font-size: $textSize-l;
		margin-right: 130px;
	}

	.landing {

		nav ul li a {
			font-size: $textSize-l;
			padding: 0 5px;
		}



		.l-social-wrap {
			ul {
				li a {
					padding: 0 10px;
					font-size: $textSize-l;
				}
			}
		}
	}
}
