header {
	nav {
	text-align: right;
	ul {
		list-style: none;
		position: relative;
		top: $margin-xs + 6px;
		margin-right:5%;
		li {
			display: inline-block;
			margin: 0 15px;
		}
	}
	a {
		font-family: $sans;
		font-size: $textSize;
		font-weight: 800;
		color: $blue-dark;
		padding-bottom: 5px;
		transition: all .3s;
		&:hover {
			color: $red;
			text-decoration: none;
		}

	}
	.nav__item--active a {
		position: relative;
		border-bottom: 2px solid $red;
		color: $red;
		&:hover {
			color: $blue-dark;
			border-bottom: 2px solid $blue-dark;
		}


	}
}
}

// Breakpoints

@media all and (max-width: 760px) {
header {
	nav {
		position: fixed;
		top: 101vh;
		left: 0;
		right: 0;
		text-align: center;
		padding-top: $mobile-nav-height;
		background: #fff;
		overflow: hidden;
		box-shadow: 0 3px 6px rgba(0,0,0,.3);

		ul {
			top: 50%;
			margin-right: 0;
			li {
				display: block;
				margin: $margin-s auto;
				font-size: $textSize-l;
				a {
					font-weight: 400;
				}
			}
		}
		.nav__item--active a {
			color: $blue-dark;
		}
	}
	.nav-trigger {
		top: 0;
		transition: all .3s;
		z-index: -2;
	}
}
} // - 760px
