.p0 {
	padding: 0;
}
.mb0 {
	margin-bottom: 0 !important;
}
.blue-dark {
	color: $primary;
}
.img-inline {
	display: inline-block;
	max-width: 49%;
}
.fz-5em {
	font-size: 3em !important;
}

@media screen and (min-width: 760px) {
	.fz-5em {
		font-size: 5em !important;
	}
}
