.page-wrapper {
	max-width: 768px;
	margin-top: $mobile-nav-height;
	margin-bottom: $margin-xs;
	padding: 0;
	h4 {
		padding: 0 1em;
	}
	p {
		margin-bottom: $margin-s;

		// typography
		font-family: $sans;
		font-size: $textSize-m;
		font-weight: 400;
		line-height: 1.6;
		color: $text-color;
		padding: 0 1em;
	}
	a {
		color: $secondary;
		border-bottom: 1px solid #e6dfdf;
			&:hover,&:focus {
				text-decoration: none;
				color: $primary-light;
				border-bottom: 1px solid $primary-light;
			}
	}
}


@media all and (min-width: 760px) {
	.page-wrapper {
		margin-top: $header-height;
	}
}
