.project {
	background: none;
  height: 200px;
	padding: 10px;
  text-align: center;

  &-item {
    position: relative;
    background: #F8F8F8;
    color: $blue-dark;
    height: 100%;
    width: 100%;
  }

  &-title {

    position: absolute;
    bottom: 0;
    right: 0;
		left: 0;
    background: linear-gradient(transparent, rgba(#000,.6));
    font-family: $sans;
    font-size: $textSize-l;
    font-weight: 600;
    color: $white;
    padding: 10px;
		padding-left: 5%;
		text-align: left;
  }

  &-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: top;
  }
	&-portfolio-item {
		display: block;
		height: 300px;
		width: 100%;
		overflow-y: hidden;
		margin-top: $margin-s;
		margin-bottom: $margin-s;

	}
	&-portfolio-image-post {
		width: 100%;
		overflow-y: hidden;
		text-align: center;
		padding: .75em;
	}
}
